<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("NL", "SetLanguage", "Language", new { name = "NL-nl" }, null)</li>
    <li>@Html.ActionLink("EN", "SetLanguage", "Language", new { name = "EN-us" }, null)</li>
</ul>