@model String
<label class="radio-inline">
    <input type="radio" name="Gender" id="Gender" value="M"> M
</label>
<label class="radio-inline">
    <input type="radio" name="Gender" id="Gender" value="F"> F
</label>