@{
    ViewBag.Title = "Confirmation Email Sent";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @*@Html.ActionLink("Please check your email and confirm your email address")*@
        <a href="@ViewBag.Link">Please check your email and confirm your email address</a>
    </p>
</div>
